<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">

    <link
      href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500&display=swap" rel="stylesheet">
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>


  </head>
  <body>
    <!------------------Navbar-------------------->
    <div class="fixed-top" id="homes">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar" >
        <div class="container">
          <a
            class="navbar-brand pt-3"
            href="#"
            style="
              color: rgb(0, 0, 0);
              font-family: 'Parisienne', cursive;
             
              font-size:30px;
            "
            id="home">Nahid Nawal</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul
              class="navbar-nav me-auto mb-2 mb-lg-0 col align-self-center"
              style="position: relative; left: 120px"
            >
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="#"
                  id="home"
                  >Home</a
                >
               
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about" id="home">About</a>
                
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#skill" id="home">Skill</a>
               
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="#qualification"
                  tabindex="-1"
                  aria-disabled="false"
                  id="home"
                  >Qualifications</a
                >
               
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#" id="home">Portfolio</a>
                
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#contact" id="home">Contact</a>
               
              </li>

              <li class="nav-item" id="nightmode">
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!-----------------------------------main-------------------------------->
    <div class="container">
      <table class="table">
        <tr>
          <th scope="row">
            <a href="https://www.linkedin.com/in/nahid-nawal-64476619a/"><img src="/images/linkedin.svg" /></a>
          </th>
        </tr>
        <tr>
          <th scope="row">
            <a href="https://www.facebook.com/"><img src="/images/facebook.svg" /></a>
          </th>
        </tr>
        <tr>
          <th scope="row"><img src="/images/twitter.svg" /></th>
        </tr>
        <tr>
          <th scope="row"><img src="/images/instagram.svg" /></th>
        </tr>
        <tr>
          <th scope="row"><img src="/images/github.svg" /></th>
        </tr>
      </table>
    </div>
<br>
<br>
    <p
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -130px;
        color: gray;
      "
    >
      welcome to my portfolio website.
    </p>
    <div class="d-flex justify-content-center">
      
    
    <h1
      class="text-center"
      id="heytxt"
     
    >
      Hey I am
    </h1>
    </div>
   
    <h3
      id="typewriter"
      class="text-center"
      style="
        position: relative;
        top: -60px;
        color: rgb(0, 0, 0);
        font-family: 'Azeret Mono', monospace;
      " ></h3>
<br><br>
   
    <h4
      id="landtxtt"
      class="text-center"
      style="color: gray; position: relative; bottom: 40px;"
    >
      Passionate learning new.
    </h4>
<br>
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary" id="primarybtn">
        Contact me <img src="/images/double_arrow_white_24dp.svg" class="arrow" />
      </button>
    </div>
<br>
<div class="d-flex justify-content-center" ><img src="/images/mouse_black_24dp.svg" width="30px" class="img-fluid" id="mousedwn"></div>

    <!--------------------about section------------------->
    <br>
<br>

    <div class="about" id="about">
      <h1 class="text-center" style="padding-top: 50px;font-family: 'Bodoni Moda', serif">About me</h1>
      <p
        class="text-center"
        style="color: gray; font-family: 'Bodoni Moda', serif"
      >
        My introduction.
      </p>
      <div class="d-flex justify-content-center">
        <img src="/images/undraw_about_me_wa29.svg" class="img-fluid" id="aboutimg" />
      </div>
      <div class="d-flex justify-content-center text-justify">
      <p
        class="text-center"
        style="
          color: gray;
          width: 1000px;
         
          padding: 30px;
          line-height: 23px;
          text-align: justify;
        "
      >
        Web developer,with extensive knowledge and years of experience,working
        with web programming and designing. Delivering quality works.Besides I
        am a student of Computer and communication Engineering(B.sc).
    

My experiences have made me realize that being devoted, cooperative and one who puts aside his personal interest for the well-being of others are some of the dynamic quality I possess. I would prefer to say I am someone who is modest, hardworking and consistently sets firm goals for ahead. I am confident in my ability to produce best, lead a team in best efficient while prepare for the worst. I train myself to do works necessary to tilt the odds and so that the best will be the possible outcome. I am an optimistic person who defines his benchmarks and takes every possible step to achieve the milestone.
       </p>
       
       
      </div>
<div class="container text-center pt-4" style="font-family: 'Azeret Mono', monospace; color: slategray;">
  <div class="row">
    <div class="col-md-3">
      <h3>20+</h3>
      <p>projects completed.</p>
    </div>
    <div class="col-md-3">
      <h3>3+ Years</h3>
      <p>Experience.</p>
    </div>
    <div class="col-md-3">
      <h3>12+</h3>
      <p>Happy clients.</p>
    </div>
    <div class="col-md-3">
      <h3>4+</h3>
      <p>Companies worked.</p>
    </div>
   
  </div>
  <a class="btn btn-primary mt-4" download href="/doc/MyResume-4.pdf">Download CV</a>
</div>
    </div>
    <!------------------Skill-------------------->
<br>
<h1 class="text-center m-5" style=" font-family: 'Bodoni Moda', serif" id="skill">My skilsets</h1>
<div class="container">
  <div class="row d-flex justify-content-center m-4">
    <div class="col-lg-3" id="box"><img src="/images/html5-logo-31813.png" width="120px" height="110px" class="m-4 " ><h4>Html5</h4></div>
    <div class="col-lg-3" id="box"><img src="/images/html5-logo-31822.png" width="150px" height="150px" class="m-2" ><h4>Css3</h4></div>
    <div class="col-lg-3" id="box"><img src="/images/pngwing.com.png" width="150px" height="150px" class="m-2" ><h4>Jquery</h4></div>
    <div class="col-lg-3" id="box"><img src="/images/pngwing.com (1).png" width="150px" height="150px" class="m-2" ><h4>JavaScript</h4></div>
  </div>
  <div class="row d-flex justify-content-center m-4">
    <div class="col-lg-4" id="box"><img src="/images/pngwing.com (2).png" width="150px" height="150px" class="m-2"  id="imgs"><h4>Bootstrap</h4></div>
    <div class="col-lg-4" id="box"><img src="/images/pngwing.com (3).png" width="150px" height="150px" class="m-2" ><h4>React</h4></div>
    <div class="col-lg-4" id="box"><img src="/images/pngwing.com (4).png" width="150px" height="150px" class="m-2" ><h4>Python</h4></div>
  </div>
</div>
<!------------------Qualification------------------>
<br>
<h1 class="text-center" style="font-family: 'Bodoni Moda', serif;">My Qualification</h1>

<div class="qualification__container container pt-5 d-flex justify-content-center" id="qualification">

  <div class="row mt-lg-0">
      <!-- Education -->
      <div class="col-lg-6 col-sm-10 col-md-10 mt-2 qualification__content" >
          <div class="qualification__button button--flex">
               <h3 style="color: Steelblue; font-family: 'Bodoni Moda', serif">Education</h3>
          </div>

          <div id="education_timeline">
              <div class="container py-2">

                  <!-- Timeline item 1 -->
                  <div class="row">
                      <!-- Timeline design -->
                      <div class="col-auto text-center flex-column d-sm-flex">
                          <div class="row h-50 qualification__journey">
                              <div class="col">
                                  <span class="qualification__line"></span>
                              </div>
                              <div class="col">&nbsp;</div>
                          </div>

                          <h5>
                              <span class="badge qualification__calendar" style="color: gray;">
                                 <img src="/images/calendar (1).svg">
                                  2019
                              </span>
                          </h5>

                          <div class="row h-50 qualification__journey">
                              <div class="col">
                                  <span class="qualification__line"></span>
                              </div>
                              <div class="col">&nbsp;</div>
                          </div>
                      </div>
                      <!-- Timeline content Events -->
                      <div class="col py-2">
                          <div class="card education-card transparent_card mirror-face shadow2" id="night">
                              <div class="card-body">
                                  <div class="task">
                                      <div class="abstract">
                                         
                                          <h6 class="p-4" style="font-weight: bold;">Web design and development.</h6>
                                          <p class="qualification__subtitle p-3"> Twoinsoft technology </p>
                                      </div>
                                      
                                      <div class="details">
                                        <hr width="50%">
                                          <p class="qualification__subtitle pt-4"> Built Web-design skills </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Timeline item 2 -->
                  <div class="row">
                      <!-- Timeline design -->
                      <div class="col-auto text-center flex-column d-sm-flex">
                          <div class="row h-50 qualification__journey">
                              <div class="col">
                                  <span class="qualification__line"></span>
                              </div>
                              <div class="col">&nbsp;</div>
                          </div>

                          <h5>
                              <span class="badge qualification__calendar" style="color: gray;">
                                <img src="/images/calendar (1).svg">
                                  2019
                              </span>
                          </h5>

                          <div class="row h-50 qualification__journey">
                              <div class="col">
                                  <span class="qualification__line"></span>
                              </div>
                              <div class="col">&nbsp;</div>
                          </div>
                      </div>
                      <!-- Timeline content Events -->
                      <div class="col py-2">
                          <div class="card education-card transparent_card mirror-face shadow2" id="night">
                              <div class="card-body">
                                  <div class="task">
                                      <div class="abstract">
                                          <h6 class="qualification__title pt-4" style="font-weight: bold"> Bachelor in Computer and Communication Engineering </h6>
                                          <br>
                                          <p class="qualification__subtitle pt-3">Internationl Islamic University,Chattogram,Bangladesh</p>
                                      </div>
                                     
                                      <div class="details pt-3">
                                        <hr width="50%">
                                          Enrolling (3rd year).Graduation will be in 2022.
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                   <!-- Timeline item 3 -->
                   <div class="row">
                      <!-- Timeline design -->
                      <div class="col-auto text-center flex-column d-sm-flex">
                          <div class="row h-50 qualification__journey">
                              <div class="col">
                                  <span class="qualification__line"></span>
                              </div>
                              <div class="col">&nbsp;</div>
                          </div>

                          <h5>
                              <span class="badge qualification__calendar" style="color: gray;">
                                <img src="/images/calendar (1).svg">
                                  2018
                              </span>
                          </h5>

                          <div class="row h-50 qualification__journey">
                              <div class="col">
                                  <span class="qualification__line"></span>
                              </div>
                              <div class="col">&nbsp;</div>
                          </div>
                      </div>
                      <!-- Timeline content Events -->
                      <div class="col py-2">
                          <div class="card education-card transparent_card mirror-face shadow2" id="night">
                              <div class="card-body">
                                  <div class="task">
                                      <div class="abstract">
                                          <h6 class="qualification__title p-3 " style="font-weight: bold">College </h6>
                                          <p class="qualification__subtitle p-3">BAF Shaheen College,Chattogram,Bangladesh</p>
                                      </div>
                                      <div class="details pt-2">
                                        <hr width="50%">
                                          <p class="qualification__subtitle pt-4"> Studied Physics, Chemistry, Mathematics,Biology,Ict and English. </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                   <!-- Timeline item 4 -->
                   <div class="row">
                      <!-- Timeline design -->
                      <div class="col-auto text-center flex-column d-sm-flex">
                          <div class="row h-50 qualification__journey">
                              <div class="col">
                                  <span class="qualification__line"></span>
                              </div>
                              <div class="col">&nbsp;</div>
                          </div>

                          <h5>
                              <span class="badge qualification__calendar" style="color: gray">
                                <img src="/images/calendar (1).svg">
                                  2016
                              </span>
                          </h5>

                          <div class="row h-50 qualification__journey">
                              <div class="col">
                                  <span class="qualification__line"></span>
                              </div>
                              <div class="col">&nbsp;</div>
                          </div>
                      </div>
                      <!-- Timeline content Events -->
                      <div class="col py-2">
                          <div class="card education-card transparent_card mirror-face shadow2" id="night">
                              <div class="card-body">
                                  <div class="task">
                                      <div class="abstract">
                                          <h6 class="qualification__title pt-4" style="font-weight: bold">Higher Secondary School </h6>
                                          <p class="qualification__subtitle pt-4"> Feni Govt. Pilot High School,Feni,Bangladesh </p>
                                      </div>
                                      <!-- <div class="details">
                                          <p class="qualification__subtitle"> This addittional contents gets revealed on hover. </p>
                                      </div> -->
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                   <!-- Timeline item end -->
                   <div class="row">
                      <!-- Timeline design -->
                      <div class="col-auto text-center flex-column d-sm-flex">
                          <div class="row h-50 qualification__journey">
                              <div class="col">
                                 
                                    <span class="qualification__start m-2">
                                      <img src="/images/local_airport_black_24dp.svg" id="plane">
                                    </span>
                                 
                              </div>
                              <div class="col">&nbsp;</div>
                          </div>
                      </div>
                      <!-- Timeline content Events -->
                      <div class="col py-2"></div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Experience -->
      <div class="col-lg-6 col-sm-10 col-md-10 mt-2 qualification__content" id="experience">
          <div class="qualification__button button--flex">
               <h3 style="color: Steelblue; font-family: 'Bodoni Moda', serif">Experience</h3>
          </div>

          <div id="expreience_timeline">
              <div class="container py-2">
                  <!-- Timeline item 1 -->
                  <div class="row">
                      <!-- Timeline design -->
                      <div class="col-auto text-center flex-column d-sm-flex">
                          <div class="row h-50 qualification__journey">
                              <div class="col">
                                  <span class="qualification__line"></span>
                              </div>
                              <div class="col">&nbsp;</div>
                          </div>

                          <h5>
                              <span class="badge qualification__calendar" style="color: gray;">
                                <img src="/images/calendar (1).svg">
                                  2020
                              </span>
                          </h5>

                          <div class="row h-50 qualification__journey">
                              <div class="col">
                                  <span class="qualification__line"></span>
                              </div>
                              <div class="col">&nbsp;</div>
                          </div>
                      </div>
                      <!-- Timeline content Events -->
                      <div class="col py-2">
                          <div class="card education-card transparent_card mirror-face shadow2" id="night">
                              <div class="card-body">
                                  <div class="task">
                                      <div class="abstract">
                                          <h6 class="qualification__title p-3" style="font-weight: bold"> Freelancing </h6>
                                          <p class="qualification__subtitle p-3"> Fiverr,Upwork,Freelancer </p>
                                      </div>
                                      <div class="details pt-2">
                                        <hr width="50%">
                                          <p class="qualification__subtitle pt-4"> I have got a strong profile on Freelancing marketplace. </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                   <!-- Timeline item 2 -->
                   <div class="row">
                      <!-- Timeline design -->
                      <div class="col-auto text-center flex-column d-sm-flex">
                          <div class="row h-50 qualification__journey">
                              <div class="col">
                                  <span class="qualification__line"></span>
                              </div>
                              <div class="col">&nbsp;</div>
                          </div>

                          <h5>
                              <span class="badge qualification__calendar" style="color: gray;">
                                <img src="/images/calendar (1).svg">
                                  2019
                              </span>
                          </h5>

                          <div class="row h-50 qualification__journey">
                              <div class="col">
                                  <span class="qualification__line"></span>
                              </div>
                              <div class="col">&nbsp;</div>
                          </div>
                      </div>
                      <!-- Timeline content Events -->
                      <div class="col py-2">
                          <div class="card education-card transparent_card mirror-face shadow2" id="night">
                              <div class="card-body">
                                  <div class="task">
                                      <div class="abstract">
                                          <h5 class="qualification__title p-3"> Local clients </h5>
                                          <p class="qualification__subtitle p-4"> I worked for many local clients.</p>
                                      </div>
                                      <!-- <div class="details">
                                          <p class="qualification__subtitle"> This addittional contents gets revealed on hover. </p>
                                      </div> -->
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                   <!-- Timeline item 3 -->
                   <div class="row">
                      <!-- Timeline design -->
                      <div class="col-auto text-center flex-column d-sm-flex">
                          <div class="row h-50 qualification__journey">
                              <div class="col">
                                  <span class="qualification__line"></span>
                              </div>
                              <div class="col">&nbsp;</div>
                          </div>

                          <h5>
                              <span class="badge qualification__calendar" style="color: gray;">
                                <img src="/images/calendar (1).svg">
                                  2019
                              </span>
                          </h5>

                          <div class="row h-50 qualification__journey">
                              <div class="col">
                                  <span class="qualification__line"></span>
                              </div>
                              <div class="col">&nbsp;</div>
                          </div>
                      </div>
                      <!-- Timeline content Events -->
                      <div class="col py-2">
                          <div class="card education-card transparent_card mirror-face shadow2" id="night">
                              <div class="card-body">
                                  <div class="task">
                                      <div class="abstract">
                                          <h5 class="qualification__title p5"> Coordinator </h5>
                                          <p class="qualification__subtitle p5"> Computer Club </p>
                                      </div>
                                      <div class="details">
                                        <hr width="50%">
                                          <p class="qualification__subtitle p-4"> Led a team of enthusiastic person and done many events. </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Timeline item end -->
                  <div class="row">
                      <!-- Timeline design -->
                      <div class="col-auto text-center flex-column d-sm-flex">
                          <div class="row h-50 qualification__journey">
                              <div class="col">
                                  <span class="qualification__start m-2">
                                    <img src="/images/local_airport_black_24dp.svg">
                                  </span>
                              </div>
                              <div class="col">&nbsp;</div>
                          </div>
                      </div>
                      <!-- Timeline content Events -->
                      <div class="col"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-------------------------project portfoli-------->










<!---------------------------Contact form------------------------------------>
<h1 class="text-center pt-5" style="font-family: 'Bodoni Moda', serif;position:relative; top:100px;" id="contact">Contact Me</h1>

<h5 class="text-center" style="font-family: 'Bodoni Moda', serif; color: gray;position:relative; top:100px;">Get in touch.</h5>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="container">
        <table class="table">
          <tr>
            <th scope="row">
              <img src="/images/phone-call.svg" /><a class="ms-3" style="text-decoration: none; font-size: 25px; font-weight:lighter; font-family: 'Bodoni Moda', serif; color: black">call</a>
            <h6 class="pt-4 ms-4" style="color: gray; font-family: 'Bodoni Moda', serif;">+8801631353107</h6>
            </th>
          </tr>
          <tr>
            <th scope="row">
            <img src="/images/mail.svg" /><a class="ms-3" style="text-decoration: none; font-size: 22px; font-weight:lighter; font-family: 'Bodoni Moda', serif; color: black">Email</a>
            <h6 style="color: gray; font-family: 'Bodoni Moda', serif;" class="pt-2 ms-4">portfolio@nahidnawal.com</h6>
            </th>
          </tr>
          <tr>
            <th scope="row"><img src="/images/map-pin.svg" /><a class="ms-3" style="text-decoration: none; font-size: 22px; font-weight:lighter; font-family: 'Bodoni Moda', serif; color: black">Address</a>
            <h6 style="color: gray; font-family: 'Bodoni Moda', serif;" class="pt-2 ms-4">Khulshi-01,Chittagong,Bangladesh</h6>
            </th>
          </tr>
         
        </table>
      </div>
    </div>
    <br><br>
    <div class="col-lg-6">
<form class="row g-3" id="form" style="position:relative; top: 200px" action="/contact-us" method="POST">
        <div class="col-md-6">
          
          <input type="text" class="form-control m-2" id="inputEmail4" name="f_name" placeholder="Your Name" style="height: 50px"> 
        </div>
        <div class="col-md-6">
    
          <input type="email" name="email"  class="form-control  m-2" id="inputPassword4" placeholder="Your Email" style="height: 50px">
        </div>
        <div class="col">
          <input type="text" class="form-control  m-2" id="inputAddress" placeholder="Address" name="l_name" style="height: 50px">
        </div>
        <div class="col-sm-12">
          <textarea class="form-control  m-2" name="message" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
       <div class="col-md-12 m-2">
       <button class="btn btn-primary" type="submit" style="width:70%; height: 50px;">Send Message</button>
      </form>
    </div>
  </div>
</div>
</div>
<br>
<br><br><br><br><br><br><br><br><br>


<!-- Messenger Chat Plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat Plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "107011162015298");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v13.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

    
<div class="footer-dark" >
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h1 style="font-weight: bolder;">Nahid Nawal</h1>
                 Web Developer
                
              </div>
              <div class="col-sm-6 col-md-3 item d-flex justify-content-end">
                 <a href="#about" style="color:white; text-decoration:none;" id="social"><h3></h3></a>
              </div>
             
              <div class="col-md-6 item text d-flex justify-content-center">
                 <a href="#skill" style="color: white; text-decoration: none;"></a>
              </div>
              <div class="col item social"><a href="https://www.facebook.com/"><img src="/images/facebook (2).svg"></a><a href="#https://github.com/nahidnawalnayim"><img src="/images/github (1).svg"></a><a href="#https://www.linkedin.com/in/nahid-nawal-64476619a/"><img src="/images/twitter (1).svg"></a><a href="#https://www.linkedin.com/in/nahid-nawal-64476619a/"><img src="/images/linkedin (3).svg"></a></div>
          </div>
          <p class="copyright">© All rights reserved</p>
      </div>
  </footer>
</div>
<!-- <script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "105864438689054");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<!-- <script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v13.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.18.0/core.min.js" integrity="sha512-XpSfIIupzvkhza/hT76X11BXXysUeg/bTeTB/Obn+8U2x3Ul12Kb071BBL3zUV8JL7G7YOooKVhjJeolBcUtOQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascripts/script.js"></script>
  </body>
</html>


          <!-- <form action="/contact-us" method="POST">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control col-lg-9" id="f_name" aria-describedby="emailHelp" placeholder="Enter first name" name="f_name">
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control col-lg-9" id="l_name" aria-describedby="emailHelp" placeholder="Enter last name" name="l_name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control col-lg-9" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Enter email">
            </div>        
            <div class="form-group">
              <label for="exampleInputEmail1">Message</label>
              <textarea name="message" class="form-control col-lg-9"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form> -->
 